:root {
  --bg-vibrant-red: #F20C1F;
  --bg-vibrant-yellow: #FBD109;
  --bg-vibrant-green: #30F284;
  --bg-vibrant-blue: #85F2E7;

  --bg-dark-purple: #180731;
  --bg-clean-beige: #EDE1CC;
}

body {
    background-color: var(--bg-clean-beige);
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px
}

a {
    text-decoration: none;
    color: black;
}

nav {
    background: white;
    width: 30%;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.content {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}