.bg-vibrant-lime { background-color: #d4ff00; }
.bg-vibrant-orange { background-color: #ff5c00; }
.bg-vibrant-blue { background-color: #2e44ff; }
.bg-vibrant-pink { background-color: #ff007a; }

.text-vibrant-blue { color: #2e44ff; }
.text-vibrant-orange { color: #ff5c00; }

body {
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 10px
}

a {
    text-decoration: none;
    color: black;
}

nav {
    background: white;
    width: 30%;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.content {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}