:root {
  --bg-vibrant-red: #F20C1F;
  --bg-vibrant-yellow: #FBD109;
  --bg-vibrant-green: #30F284;
  --bg-vibrant-blue: #85F2E7;

  --bg-dark-purple: #180731;
  --bg-transparent-dark-purple: rgba(24, 7, 49, 0.8);
  --bg-clean-beige: #EDE1CC;
}

body {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Image avec des lignes fortes pour voir la réfraction */
    background-color: var(--bg-clean-beige);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* --- LE CHAMP DE RECHERCHE --- */
.nav-box {
    position: relative;
    width: 600px;
    height: 60px;
    border-radius: 18px;
    
    /* Fond semi-transparent */
    background: rgba(255, 255, 255, 0.1);
    
    /* L'effet "Liquid Glass" avancé */
    /* On combine flou, saturation et notre filtre SVG personnalisé */
    backdrop-filter: blur(20px) saturate(160%) url(#liquid-refraction);
    -webkit-backdrop-filter: blur(20px) saturate(160%) url(#liquid-refraction);
    
    /* Bordures et ombres pour le volume (Spécularité) */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 
        inset 0 1px 1px rgba(255, 255, 255, 0.4), /* Reflet haut */
        0 10px 30px rgba(0, 0, 0, 0.2);           /* Ombre portée */
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    padding: 0 20px;

}

.nav-box ul {
    list-style: none;
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.nav-box ul li a {
    color: black;
    text-decoration: none;
}

.nav-box ul li a:hover {
    color: var(--bg-dark-purple);
    font-size: large;
}

.content {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#name {
    font-size: 1000%;
}

