@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

/* --- Generic Properties --- */

:root {
    --bg-vibrant-red: #F20C1F;
    --bg-vibrant-yellow: #FBD109;
    --bg-vibrant-green: #30F284;
    --bg-vibrant-blue: #85F2E7;

    --bg-dark-purple: #180731;
    --bg-transparent-dark-purple: rgba(24, 7, 49, 0.8);
    --bg-clean-beige: #EDE1CC;
}

body {
    margin: 0;
    padding: 0 20px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background: url('https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?auto=format&fit=crop&w=1920&q=80');*/
    background-image: url('../assets/images/oled-glass-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-color: var(--bg-dark-purple);*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo img {
    width: auto;
    height: 80px;
}

/* --- LE CHAMP DE RECHERCHE --- */
.nav-box {
    position: relative;
    width: 600px;
    height: 60px;
    border-radius: 18px;

    /* Fond semi-transparent */
    background: rgba(255, 255, 255, 0.1);

    /* L'effet "Liquid Glass" avancé */
    /* On combine flou, saturation et notre filtre SVG personnalisé */
    backdrop-filter: blur(20px) saturate(160%) url(#liquid-refraction);
    -webkit-backdrop-filter: blur(20px) saturate(160%) url(#liquid-refraction);

    /* Bordures et ombres pour le volume (Spécularité) */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow:
        inset 0 1px 1px rgba(255, 255, 255, 0.4),
        /* Reflet haut */
        0 10px 30px rgba(0, 0, 0, 0.2);
    /* Ombre portée */

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    padding: 0 20px;

}

.nav-box ul {
    list-style: none;
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.nav-box ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
}

.nav-box ul li a:hover {
    transform: scale(1.2);
    color: rgba(255, 255, 255, 1);
}

.content {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow-y: auto;
    padding: 40px 0;
    gap: 20px;
}

.content h1 {
    width: 50%;
    text-align: left;
    font-size: 60px;
    margin-bottom: 10px;
}


.presentation {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.presentation h1 {
    font-size: 1000%;
    width: 100%;
    margin: 0;
}

.presentation h2 {
    margin: 0;
}



.project,
.about,
.contact {
    width: 50%;
    height: auto;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 20px;

    /* Fond semi-transparent */
    background: rgba(255, 255, 255, 0.1);

    /* L'effet "Liquid Glass" avancé */
    /* On combine flou, saturation et notre filtre SVG personnalisé */
    backdrop-filter: blur(20px) saturate(160%) url(#liquid-refraction);
    -webkit-backdrop-filter: blur(20px) saturate(160%) url(#liquid-refraction);

    /* Bordures et ombres pour le volume (Spécularité) */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow:
        inset 0 1px 1px rgba(255, 255, 255, 0.4),
        /* Reflet haut */
        0 10px 30px rgba(0, 0, 0, 0.2);
    /* Ombre portée */

    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
}

.project:hover {
    transform: scale(1.05);
}

.project * {
    color: white;
}

.contact p {
    display: flex;
    align-items: center;
    gap: 10px;
}


h1,
h2,
h3,
p {
    color: white;
}



#email {
    color: var(--bg-vibrant-green);
}

img {
    width: 20px;
    height: 20px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}